node_modules/
.next/
out/
.env
.env.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# Lambda build artifacts
lambda/layer.zip
lambda/events.zip
lambda/list-events.zip
lambda/replicate-users.zip
lambda/register.zip
lambda/login.zip
lambda/me.zip
lambda/forgot-password.zip
lambda/reset-password.zip
lambda/update-profile.zip
lambda/change-password.zip
lambda/cancel-event.zip
lambda/cancel-booking.zip
lambda/my-events.zip
lambda/my-bookings.zip
lambda/payments.zip
lambda/replicate-payments.zip
lambda/list-notifications.zip
lambda/bookings.zip
lambda/health.zip
lambda/replicate-events.zip
lambda/replicate-bookings.zip
lambda/layer/nodejs/node_modules/

# Azure Functions
azure-functions/local.settings.json
azure-functions/node_modules/
azure-functions/bin/
azure-functions/obj/

# evaluation run logs
rto-log-*.csv
rpo-log-*.csv
rpo-verify-*.csv
